<div class="container w-50">
  <h1 class="text-center">Importar lista de produtos do Excel</h1>
  <div class="cardimport">
    <div>
      <h5 class="text-center">Tabela Categorias</h5>
      <table class="table table-bordered table-striped w-25">
        <thead class="thead-light text-center">
          <tr>
            <th scope="col">Category ID</th>
            <th scope="col">Nome</th>
          </tr>
        </thead>
        <% @categories.each do |cat| %>
          <tr>
            <td class="text-center"><%= cat.id %></td>
            <td><%= cat.name %></td>
            </tr>
        <% end %>
      </table>
    </div>

    <div>
      <h3>Escolha o arquivo</h3>
      <%= form_for @products_import do |f| %>
        <% if @products_import.errors.any? %>
          <%= pluralize(@products_import.errors.count, "error") %> Corrija sua planilha e importe novamente.
          <ul>
            <% @products_import.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        <%= f.file_field :file %>
        <%= f.submit "Importar" %>
      <% end %>
      <h3 class="mt-5">Exigências</h3>
      <ul>
        <li> Apenas importe usando o modelo: <%= link_to 'Modelo', products_imports_modelo_path(format: :xlsx), class: "btn btn-outline-success m-1" %></li>
        <li> Preencher a partir da linha 5.</li>
        <li> Preencher coluna Status com o texto "Disponível".</li>
        <li> Usar tabela de categorias ao lado.</li>
      </ul>
    
    </div>
  </div>
</div>