<%= image_tag attachments['logo.png'].url, height: '40', width: '40' %>
<p>Olá <strong><%= @request.user.first_name.capitalize %> <%= @request.user.last_name.capitalize %></strong> !</p>

<p>Após análise do estoque de mercadorias apreendidas pela Receita Federal do Brasil, verificamos que o pedido abaixo poderá ser atendido. </p>

<div class="container">
  <div class="row">
    <div class="col-4">
      <table class="table table-bordered table-striped">
            <tr>
              <th scope="col">Categoria do pedido:</th>
              <td class="text-left"><%= @request.category.name.capitalize  %></td>
            </tr>
            <tr>
              <th scope="col">Data de criação :</th>
              <td class="text-center"><%= @request.user.created_at.strftime("%d/%m/%Y")%></td>
            </tr>
            <tr>
              <th scope="col">Número do pedido</th>
              <td class="text-center"><%= @request.id %></td>
            </tr>
      </table>
    </div>
  </div>
</div>

<p>A entidade deve formalizar processo digital no qual deverá constar: </p> 

<p> 1 - Ofício destinado ao dirigente da respectiva unidade local da Receita Federal que jurisdiciona o município  da sede da entidade; ou ao Superintendente da respectiva Região Fiscal. </p>

<p> 2 - Documentação em anexo.</p>
<%= image_tag attachments['docs.doc'].url, alt: "ANEXAR DOC" %>

<p> Os endereços das Unidades Centrais, regionais e locais da Receita Federal encontram-se no caminho: https://receita.economia.gov.br/sobre/institucional/quem-e-quem. </p>

<p>O encaminhamento deve ser feito em até 30 (trinta) dias depois de notificada sob pena de a solicitação ser arquivada.</p>

<p>A <strong>Receita Federal do Brasil</strong> agradece pelo seu contato!</p>
