<%= simple_form_for(@request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs"> 
    <%= f.input :category_id, :label => "Categoria", as: :radio_buttons, collection: @categories, wrapper: :vertical_collection_inline %>
    <%= f.input :description, as: :text, :label => "Descrição" %>
    <%= f.input :quantity, :label => "Quantidade", collection: 0..1000 %>
  </div>  

  <div class="form-actions">
    <%= f.button :submit, 'Confirmar', class: 'btn btn-primary' %>
    <%= link_to ' Requisições', requests_path, class: 'btn btn-outline-secondary fa fa-list' %>
  </div>
<% end %>