<% if current_user.role == 'RFB' %>
  <div class="container mt-1 p-1 d-flex justify-content-around">
    <div>
      <h1 class="mt-3">Requisições</h1>
      <%= link_to 'Download as Excel', requests_path(format: :xlsx) %>
    </div>
    <div class="mt-3 col-6">
      <%= simple_form_for :search, url: requests_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="query" id="query"/>
          <button name="button" type="submit" class="btn btn-flat" >
            <i class="fas fa-search"></i>Pesquisar
          </button>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="container mt-0">
  <div class="row">
    <% if current_user.role == 'RFB' %>
      <table class="table table-bordered table-striped">
        <thead class="thead-light text-center">
          <tr>
            <th scope="col">Nº</th>
            <th scope="col">Data</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Entidade</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descrição</th>
            <th scope="col">Qtde</th>
            <th scope="col">Status</th>
            <th scope="col" colspan="2">Opções</th>
          </tr>
        </thead>
        <% @requests.each do |request| %>
          <tr>
            <td class="text-center"><%= request.id %></td>
            <td class="text-center"><%= request.created_at.strftime("%d/%m/%Y") %></td>
            <td class="text-center"><%= request.user.cnpj %></td>
            <td><%= request.user.entity_name %></td>
            <td class="text-center"><%= request.category.name.capitalize %></td>
            <td><%= request.description %></td>
            <td class="text-center"><%= request.quantity %></td>
            <% if request.status == 'Em análise'%>
              <td class="text-center"><i class="far fa-hourglass" aria-hidden="true"></i> <strong><%= request.status %></strong></td>
            <% elsif request.status == 'Aprovada' %>
              <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i><strong><%= request.status %></strong></td>
            <% elsif request.status == 'Rejeitada' %>
              <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i><strong><%= request.status %></strong></td>
            <% elsif request.status == 'A retirar' %>
              <td class="text-center"><i class="fa fa-truck" aria-hidden="true"></i><strong><%= request.status %></strong></td>
            <% elsif request.status == 'Encerrada' %>
              <td class="text-center"><i class="fa fa-lock" aria-hidden="true"></i><strong><%= request.status %></strong></td>
            <% else %>
              <td></td>
            <% end %>
            <div>
              <td class="text-center">
                <%= link_to '', request_path(request), class: 'fa fa-eye' %>
                <%= link_to '', request_path(request), method: :delete, data: { confirm: 'Confirma cancelar a requisição?'}, class: 'fa fa-trash' %>
                </td>
            </div>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="container">
        <div>
          <h1 class="container mt-3 text-center">Requisições</h1>
        </div>
      </div>
      <div class="col-4 mt-3">
        <div class="card-trip" >
          <%= image_tag "entidadesocial" %>
          <div class="card-trip-infos">
            <div>
              <h2>Entidade:</h2>
              <p><%= current_user.entity_name %></p>
              <h2>CNPJ:</h2>
              <p><%= current_user.cnpj %></p>
              <h2>Tipo de entidade:</h2>
              <p><%= current_user.entity_type %></p>
            </div>
          </div>
        </div>
      </div>
  <%# FIM DO CARD DA ENTIDADE %>
      <div class="col-8 mt-3">
        <table class="table table-bordered table-striped">
          <thead class="thead-light text-center">
            <tr>
              <th scope="col">Nº</th>
              <th scope="col">Categoria</th>
              <th scope="col">Qtde</th>
              <th scope="col">Data</th>
              <th scope="col">Situação</th>
              <th scope="col">Ação</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <% current_user.requests.each do |request| %>
              <tr>
                <td class="text-center"><%= request.id %></td>
                <td class="text-center">
                  <div class="dropdown">
                    <span><strong><%= request.category.name.capitalize %></strong></span>
                      <div class="dropdown-content"><p><%= request.description %></p>
                      </div>
                  </div>
                </td>
                <td class="text-center"><%= request.quantity %></td>
                <td class="text-center"><%= request.created_at.strftime("%d/%m/%Y") %></td>
                <% if request.status == 'Em análise'%>
                  <td class="text-center"><i class="far fa-hourglass" aria-hidden="true"></i><strong><%= request.status %></strong></td>
                <% elsif request.status == 'Aprovada' %>
                  <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i><strong><%= request.status %></strong></td>
                <% elsif request.status == 'Rejeitada' %>
                  <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i><strong><%= request.status %></strong></td>
                <% elsif request.status == 'A retirar' %>
                  <td class="text-center"><i class="fa fa-truck" aria-hidden="true"></i><strong><%= request.status %></strong></td>
                <% elsif request.status == 'Encerrada' %>
                  <td class="text-center"><i class="fa fa-lock" aria-hidden="true"></i><strong><%= request.status %></strong></td>
                <% else %>
                  <td></td>
                <% end %>
                <% if request.product.present? && request.status == 'Aprovada' %>
                  <td class="text-center"><%= link_to 'Aceitar?', request_product_path(request, request.product) %></td>
                <% elsif request.status == 'A retirar' %>
                  <td class="text-center"><%= link_to 'Consultar', request_product_path(request, request.product) %></td>
                <% elsif request.status == 'Encerrada' %>
                  <td class="text-center">-</td>
                <% else %>
                  <td class="text-center">Aguardar</td>
                <% end %>
                <td class="text-center">
                  <%= link_to '', request_path(request), class: 'fa fa-eye' %>
                  <% if request.status == 'Em análise' %>
                    <%= link_to '', edit_request_path(request), class: "fa fa-edit" %>
                  <% else %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <% if request.status == 'Aprovada' || request.status == 'A retirar' %>
                    <button type="button" data-toggle="modal" data-target="#exampleModalLong"><i class="far fa-envelope-open" aria-hidden="true"></i></button>
                  <% else %>
                    <i class="fas fa-envelope"></i>
                  <% end %>
                  <% if request.status != 'Encerrada' %>
                    <%= link_to '', request_path(request), method: :delete, data: { confirm: 'Tem certeza que quer excluir esta requisição?'}, class: "fa fa-trash" %>
                  <% else %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
        <a class="btn btn-primary" href="<%= new_request_path %>">Nova requisição</a>
      </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Orientações</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'docs', request: @request %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
