<div class="container d-flex justify-content-around">
  <div class="justify-content-center">
    <h1>Pedidos</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card-trip" >
        <%= image_tag "entidadesocial" %>
        <div class="card-trip-infos">
          <div>
            <h2>Entidade:</h2>
            <p><%= current_user.entity_name %></p>
          </div>
          <div>
            <h2>Tipo da entidade:</h2>
            <p><%= current_user.entity_type %></p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-8">
      <table class="table table-bordered table-striped">
          <thead class="thead-light text-center">
            <tr>
              <th scope="col">Categoria</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Data Pedido</th>
              <th scope="col">Status</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <% current_user.requests.each do |request| %>
              <tr>
                <td class="text-center"><%= request.category.name.capitalize %></td>
                <td class="text-center"><%= request.quantity %></td>
                <td class="text-center"><%= request.created_at.strftime("%d/%m/%Y") %></td>
                <% if request.status == 'Em analise'%>
                  <td class="text-center"><i class="fa fa-spinner fa-spin fa-1x fa-fw" aria-hidden="true"></i><strong><%= request.status %></strong></td>
                <% elsif request.status == 'Aprovado' %>
                  <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i>><strong><%= request.status %></strong></td>
                <% elsif request.status == 'Rejeitado' %>
                  <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i></i>><strong><%= request.status %></strong></td>
                <% end %>
                <td class="text-center">
                  <%= link_to '', request_path(request), method: :delete, data: { confirm: 'Confirma apagar o pedido?'}, class: "fa fa-trash" %>
                  <% if request.status == 'Aprovado'%> 
                    <%= link_to '', request_path(request), method: :delete, data: { confirm: 'Confirma apagar o pedido?'}, class: "fas fa-envelope-open-text" %>
                  <% else %>
                    <i class="fas fa-envelope"></i>
                  <% end %>
                </td>

              </tr>
          <% end %> 
        </table>
        <a class="btn btn-primary" href="<%= new_request_path %>">Novo pedido</a>
    </div>
  </div>
</div>