<% if current_user.role == 'RFB' %>
  <div class="container">
    <h2 class="text-center">Lista de requisições da entidade ou órgão</h2>
    <p><strong>Nome empresarial:</strong> <%= @user.entity_name %></p>
    <p><strong>CNPJ:</strong> <%= @user.cnpj %></p>
    <div class="row justify-content-left align-items-center">
      <table class="table table-bordered table-striped">
        <thead class="thead-light text-center">
          <tr>
            <th scope="col">Nº</th>
            <th scope="col">Data</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descrição</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Situação</th>
            <th scope="col" colspan="2">Opções</th>
          </tr>
        </thead>
        <% @user.requests.each do |request| %>
            <tr>
              <td class="text-center"><%= request.id %></td>
              <td class="text-center"><%= request.created_at.strftime("%d/%m/%Y") %></td>
              <!-- Category retornando errado -->
              <td class="text-center"><%= request.category.name %></td>
              <td class="text-center"><%= request.description %></td>
              <td class="text-center"><%= request.quantity %></td>
              <% if request.status == 'Em analise'%>
                <td class="text-center"><i class="far fa-hourglass" aria-hidden="true"></i> <strong><%= request.status %></strong></td>
              <% elsif request.status == 'Aprovado' %>
                <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i> <strong><%= request.status %></strong></td>
              <% elsif request.status == 'Rejeitado' %>
                <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i><strong><%= request.status %></strong></td>
              <% end %>
              <td class="text-center"><%= link_to 'Consultar Produtos', request_products_path(params[:id]), class: 'btn btn-outline-primary' %></td>
              <td class="text-center"><%= link_to 'Excluir', request_path(request), method: :delete, data: { confirm: 'Confirma apagar a requisição?'}, class: 'btn btn-outline-danger' %></td>
            </tr>
          <% end %>
      </table>
    </div>
    <div style="min-height: 42vh;">
    <%= link_to 'Voltar', :back %>
    </div>
  </div>
<% else %>
<% end %>
