<div class="container">
<% if current_user.role == 'RFB' %>
  <%# VISAO RFB %>
  <div class="text-left m-4">
    <h2>Nome empresarial: <%= @user.entity_name %></h2>
    <p class="mt-3"><strong>CNPJ:</strong> <%= @user.cnpj %></p>
    <p><strong>Endereço:</strong> <%= @user.address %></p>    
  </div>
  <div class='d-flex'>
    <div class='card col-4' style="height: 32rem;">
      <div class='card-body'>
        <h3 class="text-center p-3">Detalhes da requisição nº <%= @request.id %></h3>
        <p><strong>Nome empresarial:</strong> <%= @user.entity_name %></p>
        <p><strong>CNPJ:</strong> <%= @user.cnpj %></p>
        <p><strong>Data:</strong> <%= @request.created_at.strftime("%d/%m/%Y") %></p>
        <p><strong>Categoria:</strong> <%= @request.category.name %></p>
        <p><strong>Descrição:</strong> <%= @request.description %></p>
        <p><strong>Quantidade:</strong> <%= @request.quantity %></p>
        <p><strong>Situação:</strong> <%= @request.status %></p>
        <%#= link_to "Requisições", requests_path, class: 'btn btn-primary' %>
        <%= link_to "Estoque #{@request.category.name}", request_products_path(params[:id]), class: 'btn btn-success' %>
      </div>
    </div>
    <div class='container col-8 ml-3'>
      <h3 class="text-center">Lista de requisições da entidade ou órgão</h3>
      <div class="row justify-content-left align-items-center">
        <table class="table table-bordered table-striped">
          <thead class="thead-light text-center">
            <tr>
              <th scope="col">Nº</th>
              <th scope="col">Data</th>
              <th scope="col">Categoria</th>
              <th scope="col">Descrição</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Situação</th>
              <th scope="col" colspan="2" style="width:300px">Opções</th>
            </tr>
          </thead>
          <% @user.requests.each do |request| %>
              <tr>
                <td class="text-center"><%= request.id %></td>
                <td class="text-center"><%= request.created_at.strftime("%d/%m/%Y") %></td>
                <td class="text-center"><%= request.category.name %></td>
                <td><%= request.description %></td>
                <td class="text-center"><%= request.quantity %></td>
                <% if request.status == 'Em análise'%>
                  <td class="text-center"><i class="far fa-hourglass" aria-hidden="true"></i> <strong><%= request.status %></strong></td>
                <% elsif request.status == 'Aprovada' %>
                  <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i> <strong><%= request.status %></strong></td>
                <% elsif request.status == 'Rejeitada' %>
                  <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i><strong><%= request.status %></strong></td>
                <% elsif request.status == 'A retirar' %>
                  <td class="text-center"><i class="fa fa-truck" aria-hidden="true"></i><strong><%= request.status %></strong></td>
                <% else %>
                  <td></td>
                <% end %>
                <% if request.status == 'Em análise' %>
                  <td class="text-center"><%= link_to "Estoque #{request.category.name}", request_products_path(request), class: 'btn btn-success' %></td>
                <% else %>
                  <td></td>
                <% end %>
                <td class="text-center"><%= link_to '', request_path(request), method: :delete, data: { confirm: 'Confirma apagar a requisição?'}, class: "fa fa-trash" %></td>
              </tr>
            <% end %>
        </table>
      </div>
      <div style="min-height: 42vh;">
        <%#= link_to 'Voltar', :back %>
        <%= link_to "Requisições", requests_path, class: 'btn btn-primary' %>
      </div>
    </div>
<% else %>
  <%# VISAO DA ENTIDADE %>
  <div class="container w-50 mt-3">
    <div class='card justify-content-center'>
      <div class='card-body'>
        <h3 class="text-center p-3">Detalhes da requisição nº <%= @request.id %></h3>
        <p><strong>Nome empresarial:</strong> <%= @user.entity_name %></p>
        <p><strong>CNPJ:</strong> <%= @user.cnpj %></p>
        <p><strong>Data:</strong> <%= @request.created_at.strftime("%d/%m/%Y") %></p>
        <p><strong>Categoria:</strong> <%= @request.category.name %></p>
        <p><strong>Descrição:</strong> <%= @request.description %></p>
        <p><strong>Quantidade:</strong> <%= @request.quantity %></p>
        <p><strong>Situação:</strong> <%= @request.status %></p>
        <%= link_to 'Voltar', :back, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
</div>