
<%= simple_form_for([@request, @product, @order]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :product_id %>
    <%= f.hidden_field :request_id %>
    <%= f.input :status, input_html: { autocomplete: 'reservado' }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
