<% if current_user.role == 'RFB' %>
  <div class="container d-flex justify-content-around">
    <div class="mt-2 justify-content-center">
      <h1>Ordens</h1>
    </div>
  </div>

  <div class="container d-flex">
    <div class="container">
      <div>
        <table class="table table-bordered table-striped">
          <thead class="thead-light text-center">
            <tr>
              <th scope="col">Nº</th>
              <th scope="col">Data</th>
              <th scope="col">CNPJ</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Situação</th>
              <th scope="col">Usuário</th>
              <th scope="col" colspan="3">Opções</th>
            </tr>
          </thead>
          <% @orders.each do |order| %>
            <tr>
              <td class="text-center"><%= order.id %></td>
              <td class="text-center"><%= order.created_at.strftime("%d/%m/%Y") %></td>
              <td class="text-center"><%= order.request.user.cnpj %></td>
              <td class="text-center"><%= order.request.quantity %></td>
              <td class="text-center"><%= order.status %></td>
              <td class="text-center"><%= order.user.first_name %></td>
              <td class="text-center"><a class="btn btn-outline-primary" href="<%= "/requests/#{order.request_id}/products/#{order.product_id}/orders/#{order.id}" %>">Ver ordem</a></td>
              <td class="text-center"><a class="btn btn-outline-primary" href="<%= "/requests/#{order.request_id}" %>">Ver requisição</a></td>
              <td class="text-center"><a class="btn btn-outline-primary" href="<%= "/products/#{order.product_id}" %>">Ver mercadoria</a></td>
            </tr>
          <% end %> 
        </table>
      </div>
    </div>
  </div>
<% end %>