<% if current_user.role == 'RFB' %>
  <div class="container d-flex mt-3">
    <div class="container w-50">
      <h2 class="text-center mt-3">Cadastrar Ordem</h2>
      <div class="form-inputs">
        <h4 class="text-center"><strong> Requisição nº </strong><%= @request[:id] %></h4>
      </div>
      <div>
        <table class="table table-bordered table-striped">
          <thead class="thead-light text-center">
          </thead>
          <tr>
            <td class="text-center"><strong> Entidade/órgão: </strong></td>
            <td class="text-left"><%= User.find(@request[:user_id]).entity_name %></td>
          </tr>
          <tr>
            <td class="text-center"><strong> Descrição: </strong></td>
            <td class="text-left"><%= @request[:description] %></td>
          </tr>
          <tr>
            <td class="text-center"><strong> Mercadoria: </strong></td>
            <td class="text-left"><%= @product[:description] %></td>
          </tr>
          <tr>
            <td class="text-center"><strong> Quantidade: </strong></td>
            <td class="text-left"><%= @product[:quantity] %></td>
          </tr>
          <tr>
            <td class="text-center"><strong> Categoria: </strong></td>
            <td class="text-left"><%= Category.find(@product[:category_id]).name %> </td>
          </tr>
        </table>
      </div>
      <div class="ml-2">
        <%= simple_form_for([@request, @product, @order]) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <%= f.input :status, :label => "Escolha um estado:", as: :radio_buttons, collection: ['Reservada', 'Aguarda Documentos', 'Entregue'], wrapper: :vertical_collection_inline %>
          <div>
            <%= f.button :submit, 'Salvar ordem', class: 'btn btn-primary' %>
          </div>
        <% end %>
        <%= link_to 'Voltar', :back %>
      </div>
    </div>
  </div>
<% end %>
