<% if current_user.role == 'RFB' %>
  <div class="container d-flex justify-content-around">
    <div class="mt-2 justify-content-center">
      <h1>Mercadorias</h1>
    </div>
    <div class = mt-3>
      <%= link_to "Cadastrar Mercadoria", new_product_path, class: "nav-item nav-link btn btn-outline-secondary btn-sm" %>
    </div>
    <div class = mt-3>
      <%= link_to 'Gerenciais', charts_products_path, class: 'btn btn-outline-primary' %>
    </div>
    <div class="mt-2 col-6">
      <%= simple_form_for :search, url: products_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="query" id="query" placeholder="Encontrar uma mercadoria" />
        <button name="button" type="submit" class="btn btn-flat"><i class="fas fa-search"></i>Pesquisar</button>
      </div>
      <% end %>
    </div>
  </div>

  <div class="container d-flex">
    <div class="row">
      <% @products.each do |product| %>
        <div class="card" style="width: 17rem;">
          <% if product.photo.attached? %>
            <img src="<%= cl_image_path product.photo.key, height: 300, width: 400,:crop=>"fill" %>" class="card-img-top">
          <% else %>
            <img src="<%= image_url ("products.jpeg")%>" class="card-img-top">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.category.name %></h5>
            <p><%= product.name %></p>
            <p class="card-text"><%= product.description %></p>
            <p>Quantidade: <%= product.quantity %></p>
            <p>Situação: <%= product.status %></p>
            <% if params[:request_id].present? %>
              <%= link_to "Detalhes", request_product_path(params[:request_id], product), class: "btn btn-outline-primary" %>
              <%= link_to "Gerar ordem", new_request_product_order_path(params[:request_id], product), class: "btn btn-primary" %>
            <% else %>
              <%= link_to "Ver mercadoria", product_path(product), class: "btn btn-outline-primary" %>
            <% end %> 
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <%= link_to 'Voltar', :back %>
  </div>
<% end %>