<div class="container d-flex justify-content-around">
  <div class="mt-2 justify-content-center">
    <h1>Produtos</h1>
  </div>
  <div class = mt-3>
    <a class="nav-item nav-link btn btn-outline-secondary btn-sm" href="<%= new_product_path %>">Cadastrar Produto</a>
  </div>
  <div class="mt-2 col-6">
    <%= simple_form_for :search, url: products_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="query" id="query" placeholder="Encontrar um produto" />
      <button name="button" type="submit" class="btn btn-flat" >
          <i class="fas fa-search"></i>Pesquisar
          </button>
    </div>
    <% end %>
  </div>
</div>

<div class="container d-flex">
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-12 col-md-4 col-lg-3">
          <% if product.photo.attached? %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path product.photo.key, height: 200, width: 250,:crop=>"fill" %>);">
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url ("depositoproducts.jpeg")%>);">
          <% end %>
              <div class="card-description">
                <h2><%= product.name %></h2>
                <h3><%= product.category.name %></h3>
                <h3>Quantity: <%= product.quantity %></h3>
              </div>
            <%= link_to "", product_path(product), class: 'card-link' %>
            </div>
        </div>
      <% end %>
    </div>  
  </div>
</div>