
<div class="container">
  <h2>Detalhes de <%= @product.name %></h2>
</div>

<div class="container">
  <div class="row justify-content-left align-items-center">
    <div class="col-4 col-md-4 col-lg-4">
      <% if @product.photo.attached? %>
        <div class="card2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path @product.photo.key, height: 450, width: 600,:crop=>"fill" %>);">
      <% else %>
        <div class="card2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url ("products.jpeg"), height: 450, width: 600 %>);">
      <% end %>
    </div>
    <div class="container m-0-auto">
      <%= link_to 'Voltar', products_path %> |
      <%= link_to 'Editar', edit_product_path(@product) %> |
      <%= link_to 'Apagar', product_path(@product), method: :delete, data: { confirm: 'Tem certeza que você quer excluir este produto?'} %> 
    </div>

  </div>
</div>  
  <div class="p-2">
    <p><strong>Descrição:</strong> <%= @product.description %></p>
    <p><strong>Quantidade:</strong> <%= @product.quantity %></p>
    <a class="btn btn-primary" href="<%= new_request_order_path(@request) %>">Gerar reserva</a>
  </div>

  <div>
    <table class="table table-bordered table-striped">
      <thead class="thead-light text-center">
        <tr>
          <th scope="col">Data da reserva</th>
          <th scope="col">CNPJ</th>
          <th scope="col">Quantidade</th>
          <th scope="col">User</th>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <% @product.orders.each do |order| %>
          <tr>
            <td class="text-center"><%= order.created_at.strftime("%d/%m/%Y") %></td>
            <td class="text-center"><%= order.request.cnpj %></td>
            <td class="text-center"><%= order.product.quantity %></td>
            <td class="text-center"><%= request.user_id %></td>
            <td class="text-center"><%= link_to 'Cancelar', order_path(order), method: :delete, data: { confirm: 'Tem certeza que quer excluir esta reserva?'}, class: 'btn btn-outline-danger' %></td>
          </tr>
        <% end %> 
    </table>
  </div>

</div>
